layout {
    tab {
        pane split_direction="vertical" {
            pane
            pane split_direction="horizontal" {
                pane
                pane
            }
        }
    }

    default_tab_template {
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left  "#[fg=black,bg=blue,bold]{session}  #[fg=blue,bg=#181825]{tabs}"
                format_right "{command_kube_ctx}{command_kube_ns} {datetime}"
                format_space "#[bg=#181825]"

                hide_frame_for_single_pane "true"

                mode_normal  "#[bg=blue] "

                tab_normal              "#[fg=#181825,bg=#4C4C59] #[fg=#000000,bg=#4C4C59]{index}  {name} #[fg=#4C4C59,bg=#181825]"
                tab_normal_fullscreen   "#[fg=#6C7086,bg=#181825] {index} {name} [] "
                tab_normal_sync         "#[fg=#6C7086,bg=#181825] {index} {name} <> "
                tab_active              "#[fg=#181825,bg=#ffffff,bold,italic] {index}  {name} #[fg=#ffffff,bg=#181825]"
                tab_active_fullscreen   "#[fg=#9399B2,bg=#181825,bold,italic] {index} {name} [] "
                tab_active_sync         "#[fg=#9399B2,bg=#181825,bold,italic] {index} {name} <> "

                datetime          "#[fg=#6C7086,bg=#b1bbfa,bold] {format} "
                datetime_format   "%d/%m/%Y %H:%M"
                datetime_timezone "Asia/Jakarta"

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=blue] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

                command_kube_ctx_command     "kubectl config current-context 2>/dev/null"
                command_kube_ctx_format      "#[fg=yellow,bold]{stdout}:"
                command_kube_ctx_interval    "5"
                command_kube_ctx_rendermode  "static"

                // command_kube_ns_command      "kubectl config view --minify --output 'jsonpath={..namespace}' | grep -q . && kubectl config view --minify --output 'jsonpath={..namespace}' || echo "default'"
                command_kube_ns_command    "kubectl config view --minify --output 'jsonpath={..namespace}'"
                command_kube_ns_format      "#[fg:green]{stdout}"
                command_kube_ns_interval    "10"
                command_kube_ns_rendermode  "static"
            }
        }
        children
    }
}
